.header {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header__icons {
    display: flex;
    align-items: center;
}





