.header {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header__inputButton {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: gray;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 8px;
}

/* @media only screen and (max-width: 820px) {
    .header {
      width: 80%;
    }
  } */

  @media only screen and (max-width: 600px) {
    .header {
        display: flex !important;
        justify-content: space-between !important;
        padding-left: 10px;
    }

    .header__input {
        width: 100%;
        margin-right: 20px;
    }

    .header__logo {
       margin-left: 0;
    }

    .header__menuIcon {
        display: none !important;
    }

    .header__icon {
        display: none !important;
    }

  }




